<% include ./partials/header %>
<h1 class="ui green header">Login as User</h1>

<form class="ui form" action="/login" method="POST">
  <div class="three fields">
    <div class="field">
      <input class="" type="text" name="username" placeholder="username">
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="password">
    </div>
    <button class="ui button" type="submit" name="button">login</button>
  </div>

</form>


<% include ./partials/footer %>
