<% include ./partials/header %>

<h1 class="ui green header">Sign up as User</h1>
<form  class="ui form" action="/register" method="post">
  <div class="ui three fields">
    <div class="field">
      <input type="text" name="username" placeholder="username">
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="password">
    </div>

    <button class="ui button" type="submit" >submit</button>
  </div>
</form>


<% include ./partials/footer %>
